@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@*mod with blazor *@
@*This renders the entire "component.razor" *@
@(await Html.RenderComponentAsync<MVC_TO_BLAZOR.Views.Shared.Component.Component>
    (
    RenderMode.ServerPrerendered,
    new {  Data= "" }
    )
)
@*mod with blazor *@

@(await Html.RenderComponentAsync<MVC_TO_BLAZOR.Views.Shared.Component.Toast>
    (RenderMode.ServerPrerendered, null)
)

@(await Html.RenderComponentAsync<MVC_TO_BLAZOR.Views.Shared.Component.Canvas2d>(RenderMode.ServerPrerendered, null))
<canvas id="test" width="300" height="300"></canvas>
<script>
    function draw() {
        const canvas = document.getElementById("test");
        if (canvas.getContext) {
            const ctx = canvas.getContext("2d");
        }
       // DotNet.invokeMethodAsync('MVC_TO_BLAZOR', 'Hello');//, {ARGUMENTS});
        // ImAFunction();
    }
    
    window.addEventListener("load", draw);
</script>
