<h3>Toast</h3>

@code {
    private string _test = "test";

    protected override void OnInitialized()
    {
        _test = "OnInitilized test";
        Console.WriteLine(_test);
        base.OnInitialized();
    }

}